body{
    background-image: url('../_img/novartis/registration/Registration-Screen-1920-x-1080\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

#top-image{
    width: 100%;
}


#heading-box{
    margin-top: 100px;
}

.header-text{
    font-size: 50px;
    font-weight: 600;
    color: white;

}

.text-hightlight{
    color: #b1ba1f;
}

#image-dr{
    width: 100%;
}

#date-box{
    margin-top: 250px;
}

#date-image{
    margin-left: -100px;
    width: 100%;
}

#login-form-box{
    margin-top: 90px;
    padding: 0px;
    width: 100%;
    background-color: white;
    border-radius: 50px 0px 50px 0px;
}

#login-upper-stripe{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: #953484;
    border-radius: 50px 0px 0px 0px;

    text-align: center;
}

#login-upper-stripe-text{
    font-size: 20px;
    font-weight: 600;
}

#login-bottom{
    padding: 30px;
    width: 100%;
    
}

.input-label{
    margin: 0px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}


.login-input{
    width: 100%;
    height: 35px;
    padding-left: 20px;
    background-color: #e8d2e4;
    margin-top: 10px;
    border: none;
    border-radius: 30px;

    outline: none;
}

#info-button{
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #953484;
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    outline: none;
}

.display-box{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    text-align: center;
}

.display-head{
    font-size: 22px;
    font-weight: 600;
}

.display-image-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.display-info{
    margin-top: 20px;
}

.display-name{
    font-size: 18px;
    font-weight: 600;
}

.display-des{
    font-size: 15px;
}







.live-pallet{
    color: white;
    width: 200px;
    text-align: center;
    background-color: #953484;
}

.live-text{
    font-size: 40px;

}

.topic{

}

.date{

}
