body {
  background-image: url("../_img/Auth/Background-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;

  font-family: "Raleway", sans-serif;
}

.banner-box-outer {
  margin-left: -20px;
  width: 80%;
  padding: 5px;
  background-color: white;
}

.banner-box-inner {
  padding: 20px;
  width: 100%;
  height: 1000%;
  background-image: linear-gradient(to right, #153846, #8b9da4);

  color: white;
}

.banner-top-text {
  font-size: 25px;
  font-weight: 200;
}

.banner-mid-text {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 5px;
}

.banner-bottom-text {
  font-size: 30px;
  margin-bottom: 5px;
}

.image-box {
  width: 100%;
}

.dr-image {
  width: 100%;
}

.dr-image {
  font-weight: 600;
}
.position-label {
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to right, #153846, #8b9da4);
  color: white;
}

.position-text {
  font-size: 15px;
}

.dr-des-text {
  margin: 0px;
  font-size: 13px;
}

.input-box-outer {
  width: 100%;
  padding: 5px;
  background-color: white;
}

.input-box-inner {
  padding: 20px;
  width: 100%;
  height: 1000%;
  background-image: linear-gradient(to right, #153846, #8b9da4);
}

#login-bottom {
  padding: 30px;
  width: 100%;
}

.input-label {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.login-input {
  width: 100%;
  height: 35px;
  padding-left: 20px;
  background-color: #c9d1d4;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 30px;

  outline: none;
}

#info-button {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #953484;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  outline: none;
}

#bottom-image-area {
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
}
#bottom-image {
  width: 100%;
}
