body{
    background-image: url('../_img/novartis/registration/Registration\ Screen\ 1920\ x\ 1080.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
